@model Movies.Models.Movie

@{
    ViewBag.Title = "Delete Movie";
}

<h2>Delete Movie</h2>

<p>Are you sure you want to delete this movie?</p>

<dl>
    <dt>Movie Name:</dt>
    <dd>@Model.MovieName</dd>

    <dt>Director:</dt>
    <dd>@Model.DirectorName</dd>

    <dt>Release Date:</dt>
    <dd>@Model.DateOfRelease.ToShortDateString()</dd>
</dl>

Server Error in '/' Application.
The resource cannot be found.
Description: HTTP 404. The resource you are looking for (or one of its dependencies) could have been removed, had its name changed, or is temporarily unavailable.  Please review the following URL and make sure that it is spelled correctly.

Requested URL: /Movie/DeleteConfirmed/1

Version Information: Microsoft .NET Framework Version:4.0.30319; ASP.NET Version:4.8.9282.0

<p>@Html.ActionLink("Cancel", "Index")</p>
